@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url("img/UI.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 2rem;
}

.close-and-heavy {
    color: white;
  }
  .close-and-heavy h1 {
    text-shadow: 0px 5px 7px rgba(0,0,0,0.9),
                 0px 5px 8px rgba(0,0,0,0.2),
                 0px 22px 25px rgba(0,0,0,0.4);
  }

h3 {
    color: #fff;
    font-size: 1rem;
}

h2 a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

h3 a{
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover{
color:#b07eff9d;
}

form {
    padding: 1.2rem;
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 20px;
    margin-bottom: none;
    padding-bottom: .8rem;
}

img {
    margin-top: .5rem;
    -ms-interpolation-mode: bicubic;
    width: 35px;
}

#Loader {
    display: none;
}

#complete {
    display: none;
}

form input {
    margin-bottom: .8rem;
}

.btn {
    margin-top: .3rem;
    margin-bottom: 0rem;
}

.btn-eric {
    font-size: 1.2rem;
    color: #fff;
    border: 2px solid rgba(80, 112, 255, 0.842);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }


.btn-eric:hover {
    color: #FFF;
    background: rgba(83, 80, 255, 0.842);
    border: 2px solid rgba(80, 83, 255, 0.842);
}

.form-control:focus {
    border-color: rgba(31, 28, 250, 0.938);
    box-shadow: inset 0 2px 2px rgba(3, 3, 3, 0.13), 0 0 15px  rgba(30, 100, 250, 0.932);
  }